* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "navbar navbar"
    "sidebar main"
    "sidebar footer"
  ;
}

nav {
  grid-area: navbar;
  position: sticky;
  top: 0;
  align-self: start;
  height: 4rem;
  background-color: var(--background);
  color: var(--text-color);
}

aside {
  grid-area: sidebar;
  position: sticky;
  top: 4rem;
  align-self: start;
  background-color: var(--accent-color);
  height: calc(100vh - 4rem);
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  height: 3rem;
  background-color: var(--background);
  color: var(--text-color);
}