* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 2px solid var(--accent-color);
    border-radius: 1rem;
    text-align: center;
    /* padding: 5rem; */
    padding: min(5rem, 8%);

    h1 {
        line-height: 3;
    }
}

/* solution 1 */

/* @media(max-width: 700px) {
    .content {
        padding: 8%;
    }
} */